<header class="mb-2">
    <nav class="navbar navbar-expand-lg navbar-light rounded" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Bahasa Indramayu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" lang-code="nk" href="#">Ngoko</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" lang-code="km" href="#">Krama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" lang-code="id" href="#">Indonesia</a>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" id="q" placeholder="Type word..."
                    aria-label="Type word...">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" id="search">Search</button>
            </div>
        </div>
    </nav>
</header>